<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <% include navbar %>

  <div class="flex-column">
    <h1 class="big-album-title"><%= album.title %></h1>
    <div><%= album.artist %></div>
  </div>

  <div class="container">

    <% if (userID) { %>
      <a href="/reviews/<%= album.id %>/new" class="u-pull-right button">Add Review</a>
    <% } %>

    <h2>Reviews</h2>

    <% reviews.forEach(function(review) { %>
      <div class="review">
        <div class="u-pull-right date"><%= review.created %></div>
        <div class="album-title">
          <a href="/albums/<%= review.album_id %>">
            <%= review.album %>
          </a>
        </div>
        <div class="artist"><%= review.artist %></div>
        <div class="review-text"><%= review.review %></div>
        <div class="u-pull-right user">by <%= review.user %></div>
      </div>
    <% }) %>

  </div>

</body>
</html>
