<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <% include navbar %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviews.forEach(function(review) { %>
      <div>
        <h5><a href="/albums/<%= review.album_id %>"><%= review.album %></a></h5>
        <p><%= review.artist %></p>
        <p><%= review.created %></p>
        <p><%= review.review %></p>
        <p>by <%= review.user %></p>
      </div>
    <% }) %>
  </div>

</body>
</html>
