<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= user.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/confirmation_script.js"></script>
</head>
<body>

  <% include navbar %>

  <div class="flex-column">
    <h1><%= user.name %></h1>

    <table>
      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td>Date Joined</td>
        <td><%= user.joined %></td>
      </tr>
    </table>
  </div>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviews.forEach(function(review) { %>
      <div>
        <h5>
          <a href="/albums/<%= review.album_id %>"><%= review.album %></a>
          <img src="../delete.svg" class="trash-can" data-href="/reviews/<%= review.id %>/delete" />
        </h5>
        <p><%= review.artist %></p>
        <p><%= review.created %></p>
        <p><%= review.review %></p>
        <p>by <%= review.user %></p>
      </div>
    <% }) %>
  </div>

</body>
</html>
